*.o
lightum

# Add any directories, files, or patterns you don't want to be tracked by version control
# No IDE stuffs.
*.iml
*.ipr
*.iws
.vscode

# Remove the intellij working directory.
.idea
.settings
.project
cache/
dump/
